
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Cuidadores</title>
<link rel="stylesheet" type="text/css" href="bootstrap/3/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="ScriptLibrary/jquery-latest.pack.js"></script>
<script type="text/javascript" src="bootstrap/3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="ScriptLibrary/dmxBootstrap3Navigation.js"></script>
<style>
	body {
		padding-top:50px;
	}
</style>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
</head>

<body data-spy="scroll" data-target=".nav-container" >
<!-- Fixed navbar -->

<!--/Fixed navbar --> 

<!-- Header -->
<header id="page-header" class = "overbackground">
  <div class="container  ">
    <div class="row ">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Cuidadores UN</h1>
        <p class="lead text-muted content">En la mayoría de las situaciones de enfermedad crónica se requiere de un acompañamiento constante, que un profesional de la salud no puede brindar en todos los escenarios ni espacios contemplados. De ahí surgen los cuidadores familiares que cumplen un papel importante en el desarrollo de esta función, lo que hace vital que adquieran un conocimiento del problema y comiencen a comprender la experiencia.
</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="col-md-6"> <%= link_to "Ingresar", new_user_session_path, class: "btn btn-primary btn-block btn-lg"  %> </div>
        <div class="col-md-6"> <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-primary  btn-block btn-lg"  %> </div>
      </div>
    </div>
  </div>
</header>
<!--/Header --> 


<section id="content" class="overbackground">
<!-- Content Block-->
  <div class="container " id="content-block-1">
    <div class="row ">
      <div class="col-sm-6 content ">
        <h2>Sabias que..</h2>
        <p>De acuerdo con la Organización Mundial de la Salud para Colombia, en 2014, las cifras de mortalidad señalan que el 71% de estas, considerando ambos géneros y todas las edades se asocian con condiciones de enfermedad crónica no transmisible (ECNT).  </p>
        <%=link_to "Cursos", courses_path,class:"btn btn-primary" %></div>
      <div class="col-sm-6"><img class="img-responsive center-block" src="<%= asset_path('enfermeria1.jpg') %>"></div>
    </div>
  </div><!--/Content Block -->
  <hr/>
  
  <!-- Content Block-->
  <div class="container" id="content-block-2">
    <div class="row ">
      <div class="col-md-12 content">
        <h2 class="text-center content-title">Contenido</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-4">
        <div class="icon"> <i class="fa fa-laptop"></i> </div>
        <h4 class="text-center">Cursos</h4>
        <p class="text-center">Duración de 4 a 9 semanas, talleres y acompañamiento personalizado.</p>
      </div>
      <div class="col-md-4 content">
        <div class="icon"><i class="fa fa-rocket"></i></div>
        <h4 class="text-center">Incripciones</h4>
        <p class="text-center">Incribete a los niveles I y II para mejorar tus habilidades de cuidado.</p>
      </div>
      <div class="col-md-4">
        <div class="icon"><i class="fa fa-shopping-cart"></i></div>
        <h4 class="text-center">Notas</h4>
        <p class="text-center">Consulta tus resultados en el desarrollo del curso.</p>
      </div>
    </div>
  </div><!--/Content Block -->
  <hr/>
 
  
  <!-- Content Block-->
  
</section>


<!-- Footer -->
<footer id="page-footer" class="container ">
	<div class="container">
				<p class="pull-left small text-muted container">&copy; CuidadoresUN</p>
				<p class="pull-right small text-muted container"></p>
		</div>
</footer><!--/Footer -->
</div>
</body>
</html>
