
<div class="col-md-4 col-md-offset-1 overbackground center">
    <h1>Nueva Inscripción</h1>
    
    <%= render 'form', inscription: @inscription %>
    
    <%= link_to 'Back', inscriptions_path %>
</div>